header {
    padding: 15px;
    display: grid;
    grid-template-areas:
        "Cte  titulo   carrito";
    grid-template-rows: 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: rgb(156, 152, 152);
    height: 80px;
    border: 1px solid black;
}
.titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo a{
    text-decoration: none; color: black;
}
.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carrito {
    grid-area: carrito;
    display: flex;
    flex-direction: row-reverse;
}
#Cte{
    grid-area: Cte;
}

#main {
    margin: 50px;
    display: grid;
    grid-template-areas:
    "Detalle  Subtotal";
    grid-template-rows: 2fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}
.sec1 {
    grid-area: "Detalle";
}
#sec2{
    grid-area: "Subtotal";
}
#detalle {
    border: 2px solid black;
    padding: 10px;
    width: 850px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "IMG  nombreproducto aumentar";
    gap: 10px; 
    align-items: center;
    justify-items: center;
    background-color:azure;
}

.img{
    width:50px;
    height:35px;
}
.IMG{
    width:150px;
    height:100px;   
}

.Precio{
    display: flex;
    justify-content: center;
}
.subtotal{
    border: 2px solid black;
    padding: 10px;
    width: 315px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:azure;
}

/*-----------.----------*/

@media (max-width:1024px){
    #detalle {
        border: 1px solid black;
        padding: 5px;
        width: 550px;
        height: 200px;
    }
    .subtotal{
        border: 1px solid black;
        padding: 10px;
        width: 215px;
        height: 200px;
    }
}

@media (max-width:768px){

    .titulo h2{
        font-size: 25px;
    }
    .img{
        width:"20";
        height:"15"
    }
    #detalle {
        border: 1px solid black;
        padding: 5px;
        width: 400px;
        height: 150px;
    }
    .subtotal{
        border: 1px solid black;
        padding: 10px;
        width: 180px;
        height: 150px;
    }
    .subtotal h4{
        font-size: 13px;
    }
}

@media (max-width:425px){
    header{
        height: 60px;
    }
    .titulo h2{
        font-size: 13px;
    }
    .img{
        width:32px;
        height:20px;
    }
    #detalle {
        border: 1px solid black;
        padding: 5px;
        width: 240px;
        height: 150px;
    }
    .subtotal{
        border: 1px solid black;
        padding: 10px;
        width: 100px;
        height: 150px;
    }
    .subtotal h4{
        font-size: 12px;
    }
}